p {
    padding: 10px 20px;
}
#footer {
    border-top: 1px solid rgba(127,127,127,0.5);
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px 30px;
    bottom: 0;
}