p {
    padding: 10px 20px;
}
input {
    background-color: transparent;
}
input[type=file] {
    height: 1px;
    margin: 0;
    width: 1px;
    opacity: 0;
}
#privname {
    display: inline-block;
    width: calc( 100% - 100px );
    margin-left: 10px;
}
#footer {
    border-top: 1px solid rgba(127,127,127,0.5);
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px 30px;
    bottom: 0;
}