<app-header [title]="title"></app-header>
<div class="w3-container">
  <br>
  <br>
  <label>Select a public key for encryption</label>
  <input name="pub" id="pub" type="file" (change)="onKeyChange($event)">
  <br>
  <br>
  <label for="pub" class="w3-btn w3-ripple w3-blue w3-round">Select</label>
  <input class="w3-input" type="text" id="privname" readonly [value]="privname">
  <br>
  <p *ngIf="!downloaded">
    Please wait while your file downloads...
  </p>
  <p *ngIf="downloaded">
    Your file has been downloaded successfully!
  </p>
</div>
<div id="footer">

</div>