<app-hero></app-hero>
<section class="w3-container">
  <div class="w3-row">
    <div class="w3-col s12 m7 l6" id="service-info">
      <h1>Features</h1>
      <ul>
        <li>No account necessary</li>
        <li>Automatic file encryption</li>
        <li>Short lived uploads (one day)</li>
        <li>Open source!</li>
      </ul>
      <h1>Technology</h1>
      <h3>Front end build with
        <i class="fab fa-angular" style="color:#de3641"></i> Angular</h3>
      <h3>Server build with
        <i class="fab fa-node-js" style="color:#90c53f"></i> NodeJS (TypeScript)</h3>
      <h3>Hosted on Google's
        <i class="fab fa-google" style="color:#4285f4"></i> Firebase cloud platform</h3>
      <h3>Client side encryption with
        <i class="fab fa-js" style="color:#f7df1e;background-color:black;line-height:0.87;"></i> JavaScript</h3>
    </div>
    <div class="w3-col s12 m5 l6" id="service-architecture">
      <img src="/assets/images/centralized.png" style="max-width: 100%;" />
      <h3>Centralized architecture</h3>
      <ul>
        <li>Stores uploads for up to one day</li>
        <li>Encrypted before being sent to the server</li>
        <li>No account necessary!</li>
      </ul>
      <!-- <hr>
      <h2>Coming soon!</h2>
      <img src="/assets/images/decentralized.png" style="max-width: 100%;" />
      <h3>Decentralized architecture</h3>
      <ul>
        <li>P2P file transfers</li>
        <li>Server never received files</li>
        <li>Again, no account necessary!</li>
      </ul> -->
    </div>
  </div>
</section>