<app-header title="Upload a File"></app-header>
<form (submit)="onSubmit($event)">
  <div class="w3-container">
    <br>
    <label>Select a file for upload</label>
    <input name="upload" id="upload" type="file" (change)="onFileChange($event)">
    <br>
    <br>
    <label for="upload" class="w3-btn w3-ripple w3-blue w3-round">Select</label>
    <input class="w3-input" type="text" id="filename" readonly [value]="filename">
  </div>
  <div id="footer">
    <button class="w3-btn w3-ripple w3-red w3-right w3-round" [disabled]="disabled" type="submit">Upload</button>
  </div>
</form>