:host {
    background-image: url("https://www.xmple.com/wallpaper/purple-gradient-turquoise-linear-2732x2048-c2-199d7a-7b68ee-a-30-f-14.svg");
    min-height: 100vh;
    min-width: 100vw;
    display: inline-block;
}