:host {
    background-image: url("https://www.xmple.com/wallpaper/purple-gradient-turquoise-linear-2732x2048-c2-199d7a-7b68ee-a-30-f-14.svg");
    height: 100vh;
    width: 100vw;
    display: block;
    position: relative;
    overflow: auto;
}
#box {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 330px;
    min-height: 400px;
    transform: translate(-50%,-50%);
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
}