:host {
    position: relative;
    display: inline-block;
}
section{
    &#hero {
        background-image: url('https://c1.staticflickr.com/2/1522/26021117045_654fb960f6_b.jpg');
        -webkit-filter: sepia(0.2) blur(6px);
        filter: sepia(0.2) blur(6px);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
        width: calc( 100vw + 20px );
        margin-left: -10px;
        margin-top: -10px;
        min-height: 420px;
    }
}
#hero__info {
    @keyframes slide-down {
        from {
            transform: translateY(-100vw);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    position: absolute;
    background-color: rgba(255,255,255,0.7);
    padding: 20px;
    top: 4vh;
    left: 4vw;
    height: 32vh;
    min-height: 340px;
    width: 92vw;
    animation: slide-down 1s ease;
    @media(min-width: 769px) {
        width: 42vw;
        right: auto;
    }
    div {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
}
#hero__network {
    @keyframes grow-in {
        from {
            transform: scale(0);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }
    @keyframes breath {
        from {
            transform: scale(0.95);
        }
        to {
            transform: scale(1.05);
        }
    }
    position: absolute;
    top: 4vh;
    right: 4vw;
    height: 32vh;
    width: 42vw;
    text-align: center;
    display: none;
    animation: breath 4s ease alternate infinite, grow-in 1s ease;
    @media(min-width: 769px) {
        display: inline-block;
    }
    @keyframes bob {
        from {
            transform: translateY(-5px);
        }
        to {
            transform: translateY(5px);
        }
    }
    img {
        max-width: 300px;
        animation: bob 2s ease alternate infinite;
    }
}